// Colores
$grey: #576066;
$light-pink: #ffe5d4;
$white: #fff;
$black: #000;
$grayscale: (
    "100": #EEF1F4,
    "200": #DFE3E7,
    "300": #CBCFD2,
    "400": #B3B6B9,
    "500": #9CA0A3,
    "600": #7C7F82,
    "700": #606365,
    "800": #4A4C4F,
    "900": #333536,
    "1000": #05010c,
);

// Fuentes
$font: 'Lato', sans-serif;
$font-sans: 'Domine', serif;


// Extras
$enable-grey-footer: true;
